* {
	box-sizing: border-box;
}

h1, h2 {
	font-family: Industry, monospace;
	color: #8844EE;
}

h1 {
	text-align: center;
	margin: 60px 0;
}

p {
	font-family: "Proxima Nova Soft", Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	line-height: 1.4em;
}

section {
	max-width: 800px;
	margin: 0px auto 20px auto;
}

section::before, section::after {
	content: '';
	display: table;
	clear: both;
}

.text-section, .img-section, .item-section {
	padding: 0 10px;
	float: left;
}

.text-section {
	width: 60%;
}

.img-section {
	text-align: center;
	width: 40%;
}

.item-section {
	width: 33.3333%;
}

section img {
	margin-top: 20px;
	max-width: 100%;
}

@media (max-width: 600px) {
	
	.item-section, .img-section, .text-section {
		width: 100%;
	}
	
	.img-section {
		display: none;
	}

}
















